.header {
  margin-bottom: calc(var(--spacer) * 4);
  text-align: center;
}

.header h3 {
  font-weight: var(--font-weight-base);
}

.signedContainer {
  margin-top: calc(var(--spacer) * 2);
}

.actions {
  display: flex;
  gap: calc(var(--spacer) / 2);
}
