@font-face {
  font-family: 'Overpass';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('Overpass-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('Overpass-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Overpass Mono';
  font-display: swap;
  font-style: normal;
  src: url('OverpassMono-Regular.ttf') format('truetype');
}
