.container {
  position: relative;
}

.container p {
  position: absolute;
  top: 0;
  left: 37%;
}

.logo {
  width: 12rem;
  margin: 0;
}

@media screen and (min-width: 30rem) {
  .logo {
    width: 16rem;
  }
}
